
/* COMMON STYLE FOR THE PARENT CONTAINER */
#fourth-section{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
/* STYLE FOR THE LEFT SIDE */
.fourth-left{
height: 580px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
padding-top: 54px; 
background-image: url("../images/home/watch-series-5.jpg");
width: 49.5%;
}
.description{
    font-size: 20px;
    padding: 10px 0;
}
/* commom link style */
.links-wrapp ul{
    list-style: none;
    padding: 12px 0;
}
.links-wrapp ul li{
/* to put the li's horizontally */
    display: inline-block;
    padding-right: 15px;
    font-size: 20px;
}
.links-wrapp ul li a{
text-decoration: none;
color: #06c;

}
.links-wrapp ul li a:after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}
.links-wrapp ul li a:hover {
	color: #000;
}
/* end of commom link style */